beautifulsoup4==4.15.0
bs4==0.0.2
certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
igraph==1.0.0
networkx==3.6.1
numpy==2.5.2
pyforceatlas2==0.0.5
python-dateutil==2.9.0.post0
python-igraph==1.0.0
requests==2.34.2
scipy==1.18.1
six==1.17.0
soupsieve==2.8.4
texttable==1.7.0
tqdm==4.70.0
typing_extensions==4.15.0
ultimate-sitemap-parser==1.8.1
urllib3==2.7.0
xmltodict==1.0.4
